.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh; 
  }

  h1{
    font-family: Georgia, serif;
    text-align: center;
  }

  h2{
    font-family: Georgia, serif;
    text-align: center;
  }

  h3{
    font-family: Georgia, serif;
    text-align: center;
  }

  .container {
    position: relative;
    background-image: url(path/to/background-image.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
  }

  body{
    background-color: lightgray;
  }
  
  