/*common css for all form*/
*{
    box-sizing: border-box;
}

.container{
    min-height: calc(100vh - 40px * 1);
    /* height: 50%; */
    display: grid;
    top: 10%;
    /* grid-template-columns: 50% 50%; */
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: content;
    padding-left: 120px;
    padding-right: 106px;
    background-color: white;
}

/* .login-right{
    background-color: white;
    display: flex;
    justify-content: center;
} */

.login-form{
    width: 450px;
}

.login-header{
    margin-bottom: 5px;
}

.login-header h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.login-header p{
    opacity: 0.7;
    font-size: 13px;
}


input[type='text']{
    border: 1px solid black;
    height: 45px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .6s;
    font-size: 18px;
    border-radius: 100px;
}

input[type='password']{
    border: 1px solid black;
    height: 45px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}


input[type="email"] {
    width: 100%;
    height: 45px;
    padding: 0 2rem;
    outline: none;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 20px;
}

input[type="checkbox"]{
    width: 20px;
    height: 13px;
    accent-color: rgb(0, 0, 0);
}

.error-msg {
    display: none;
    color: red;
    font-size: 13px;
}

.btn-sign-in{
    border:none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

footer .sign-in{
    width: 86%;
}

footer .sign-up{
    width: 86%;
}

.btn-sign-in:hover{
    /* transform: scale(1.03); */
    border: 1px solid;
    background: transparent;
    color: rgb(0, 0, 0);
}

.btn-sign-up{
    border:none;
    background: linear-gradient(125deg, rgba(251,63,149,1) 38%, rgba(70,83,252,1) 84%);
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-sign-up:hover{
    /* transform: scale(1.03); */
    border: 1px solid;
    background: transparent;
    color: rgb(0, 0, 0);
}

.input-control input:focus {
    outline: 0;
  }
  
  .input-control.success input {
    border-color: #09c372;
  }
  
  .input-control.error input {
    border-color: #ff3860;
  }
  
  .input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
  }


@media (max-width: 1350px) {
    .login-left{
        padding: 50px !important;
    }
    .login-form{
        width: 100%;
    }
    .sign-in{
        width: 100%;
    }
    .btn-sign-up{
        width: 100%;
    }
}

@media(max-width: 786px){
    body{
        padding: 20px;
    }
    .container{
        grid-template-columns: auto;
    }
    .login-right{
        display:none;
    }
    .sign-in{
        width: 100%;
    }
}

/*sign in form css*/
#sign-in-body{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 40px;
}

.login-form-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-control label{
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

.input-control #checkboxLabel{
    margin-top: 17px;
    margin-right: 100px;
}
/*sign up form css*/

#create-account{
    /* padding: 0;
    margin: 0; */
    font-family: 'poppins', sans-serif;
    background: linear-gradient(125deg, rgba(251,63,149,1) 38%, rgba(70,83,252,1) 84%);
    padding: 40px;
    width: 100%;
    height: 120vh;
}

.signup-form-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Forgot Password Form*/

#forgot-password-body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(245, 114, 114);
    background: linear-gradient(90deg, rgba(245, 114, 114, 1) 47%, rgba(236, 223, 134, 1) 100%);
    background-size: cover;
    padding: 40px;
}

.forgot-password-form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.forgot-password-form h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
}

.forgot-password-form .input-control{
    margin-top: 25px;
}

.forgot-password-form button[type="btn-getcode"] {
    background: linear-gradient(90deg, rgba(245, 114, 114, 1) 47%, rgba(236, 223, 134, 1) 100%);
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.forgot-password-form button[type="btn-submit"] {
    background: linear-gradient(90deg, rgba(245, 114, 114, 1) 47%, rgba(236, 223, 134, 1) 100%);
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    margin-top: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.btn-getcode:hover{
    transform: scale(1.03);
}

.btn-submit:hover{
    transform: scale(1.06);
}

.valid-input {
    display: none;
    color: rgb(3, 195, 3);
    font-size: 13px;
}

.forgot-password-form button[type="submit"]:hover {
    transform: scale(1.03);
}

@media screen and (min-width: 768px) {
    .forgot-password-form {
        margin-top: 10%;
    }
}
/*Reset Password Form*/
/*Logout pop up*/

#logout-body{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    background: linear-gradient(125deg, rgba(251,63,149,1) 38%, rgba(70,83,252,1) 84%);
    padding: 40px;
}

.dialog-container {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .dialog-content h2 {
    margin-top: 3px;
    margin-bottom: 20px;
  }
  
  .dialog-buttons button {
    padding: 10px 20px;
    border: none;
    margin: 10px;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .dialog-buttons button#confirm-button {
    background-color: #F44336;
    color: #fff;
  }
  
  .dialog-buttons button#confirm-button:hover {
    background-color: #D32F2F;
  }
  
  .dialog-buttons button#cancel-button {
    background-color: #fff;
    color: #444;
    border: 1px solid #444;
  }
  
  .dialog-buttons button#cancel-button:hover {
    background-color: #eee;
  }
  
