* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}


.container {
    position: relative;
}

.moving-clouds {
    background-image: url('./assets/images/clouds.png');
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
    -webkit-animation: cloudLoop 20s linear infinite;
    animation: cloudLoop 20s linear infinite;
}

@keyframes cloudLoop {
    0% {
        transform: translateZ(0)
    }

    to {
        transform: translate3d(-50%, 0, 0)
    }
}

.hero {
    width: 100%;
    height: 100vh;
    background: url("./assets/images/Home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*#Navbar */

#navbar {
    position: fixed;
    width: 100%;
    height: 2.3%;
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    transition: all 0.8s;
    z-index: 999;
}

#navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    position: relative;
    text-align: left;
    transition: 0.5s;
    font-size: 14px;
}

#navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

#navbar ul li:hover::after {
    width: 100%;
}

#navbar ul li a:not(.dropdown_menu ul a) {
    color: white;
    text-transform: uppercase;
}

/* Dropdown css */
.dropdown_menu {
    display: none;
    position: absolute;
    top: 140%;
    background-color: #f9f9f9;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}

li:hover .dropdown_menu {
    display: block;
}

.dropdown_menu ul {
    background: #ddd8d8;
    padding: 10px;
}

.dropdown_menu ul a {
    color: black;
}

.dropdown_menu :hover {
    background: #14cdee;
    transition: all 0.4s;
}

/* logo sizes */
.cmpnylogo {
    padding-top: 90px;
    width: 196.667px;
    height: 5rem;
}

.about_bvec {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
}



.about_bvec img {
    width: 380px;
    height: 20%;
}

.about_bvec_para {
    margin: 30px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    line-height: 1.7em;
    color: #242424;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.lnkdlgo {
    width: 3rem;
    height: 1.7rem;
}

.qlnkimg {
    width: 10rem;
    height: 8rem;
}

.prncpl {
    width: 25vw;
    height: 90%;
    border-radius: 10px;
}

.tpo {
    width: 26vw;
    height: 45vh;
    border-radius: 10px;
}

.PlcmntRcrd_header {
    margin-top: 70px;
}

.msg_from_princ {
    display: flex;
}

mark {
    background-color: #ff0;
    padding: 0.2em;
    font-weight: 100;
}

.msg_from_tp {
    display: flex;
    flex-direction: row-reverse;
}

/* About CSS */

.abt_bvec p {
    width: 80vw;
}

.msg_from_princ_h1{
    margin-top: 50px;
}

.msg_from_princ h4 {
    font-weight: 180;
    opacity: 0.8;
}

.msg_from_princ h5 {
    font-weight: 100;
    opacity: 0.6;
}


.msg_from_tp h4 {
    font-weight: 180;
    opacity: 0.8;
}

.msg_from_tp h5 {
    font-weight: 100;
    opacity: 0.6;
}

.quick_links {
    display: grid;
    place-items: center;
    /* column-gap: 0.3rem;  */
    row-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.grid {
    width: 28vw;
}

.grid-item {
    /* background: url("./images/card\ bg1.jpg"); */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(195, 182, 255, 1) 0%, rgba(252, 252, 252, 1) 77%);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item-brochures {
    background: rgb(249, 238, 140);
    background: linear-gradient(113deg, rgba(249, 238, 140, 1) 0%, rgba(252, 252, 252, 1) 77%);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item-policies {
    background: rgb(132, 216, 245);
    background: linear-gradient(113deg, rgba(132, 216, 245, 1) 0%, rgba(252, 252, 252, 1) 77%);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item-placement-coordinators {
    background: rgb(245, 132, 243);
    background: linear-gradient(113deg, rgba(245, 132, 243, 1) 0%, rgba(252, 252, 252, 1) 77%);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item-placement-internship-noc {
    background: rgb(254, 160, 160);
    background: linear-gradient(113deg, rgba(254, 160, 160, 1) 0%, rgba(252, 252, 252, 1) 77%);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item-placement-placement-reports {
    background: rgb(153, 197, 255);
    background: linear-gradient(113deg, rgba(153, 197, 255, 1) 0%, rgba(252, 252, 252, 1) 77%);
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.card-img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card-content {
    padding: 2rem;
    /* display: block; */
}

.card-header {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #242424;
    margin-bottom: 2rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    color: #232323;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 0.1rem;

}

.card-btn:hover {
    background: white;
    color: black;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active{
    transform: translateY(1px);
    opacity: 1;
    background-color: transparent;
}

@media screen and (max-width: 767px) {

    .hero {
        width: 100%;
        height: 100vh;
        background: url("./assets/images/Mobile\ screen\ Background\ 3d\ gradient\ blue-01.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: all 2s ease;
    }
    
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }

    .about_bvec {
        display: block;
    }

    .about_bvec img {
        width: 320px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .grid {
        display: block;
        width: 90%;
    }

    .msg_from_princ {
        display: block;
    }

    .msg_from_princ img {
        width: 320px;
        margin-top: 10px;
        margin: 35px;
    }

    .msg_from_princ h4,
    h5 {
        margin-left: 30px;
    }

    .msg_from_tp {
        display: block;
    }

    .msg_from_tp img {
        width: 320px;
        margin-top: 10px;
        margin: 35px;
    }

    .msg_from_tp h4,
    h5 {
        margin-left: 30px;
    }

    .quick_links {
        grid-template-columns: 1fr;
    }

}

/* footer */
footer {
    margin: 1rem 60px;
    display: flex;
    justify-content: space-between;
}