a{
    text-decoration: none;
}

h1 {
    color: #012970;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

h5{ 
        color: #9e9797;
        line-height: 24px; 
}

p{
    color: #000;
    font-weight: 550;
    font-size: 1.2rem; 
    width: 55vw;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.active{
    background:rgba(0, 0, 0, 0.9);
}

.basic_mrgn {
    font-weight: 700;
    font-size: 23px;
    margin: 1.5rem;
}

.mlr {
    margin: 0 1.5rem;
}



#show {
    display: none;
    font-size: xx-large;
}

.principal_msg{
    display: flex;
    justify-content: space-around;
    /* margin: 1.5rem; */
}
.tp_msg{
    display: flex;
    justify-content: space-around;
    /* margin: 1.5rem; */
}

@media screen and (max-width:760px) {
    .hero {
        background-size: 100% 100%;
    }
    #show {
        display: inline-block;
        font-size: xx-large;
        cursor: pointer;
    }

    #ul {
        display: none;
        background: #000; 
    }

    #ul li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem;
    } 

    .dropdown_menu{
        margin-left: 1rem;
    }

    #navbar { 
        display: none;
        padding: 0;
    }
 
    #navbar ul li::after {
        background: none;
    } 
    .quick_lnk{ 
        grid-template-columns: 1fr;

    } 
} 