.basic_mrgn{
    color: #012970;
    font-weight: 700;
    font-size: 23px;
    margin: 1.5rem;
}
.mlr{
    margin: 0 1.5rem;
}
.cmpnylogo{
    width: 5rem;
    height: 3rem;
}

.abt_bvec{
    color: #012970;
    font-weight: 700;
    font-size: 23px;
    margin: 1.5rem;
    text-align: center;
}
 